html {

  background: url("/images/flowervase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: poppins, arial, sans-serif;

  h1 {
		color:white;
		margin-left: 100px;
	}

}

img {
	margin-left: 100px;
}

.cocktail {
				 border-width: 5px;
				 border-style: solid;
				 border-color: white;
				 border-radius: 5px;
				 box-shadow: 5px 5px #A38F58;
				 margin-left: 100px;
}

section {
	display: flex;
	margin-left: 70px;

}

p {
	color: white;

}

.paragraph {
	margin-left: 100px;
}

.Instructions {
	background-image: url("/images/limes.png");
	background-repeat: no-repeat;
}

article {
	color: white;
	background-color: #67BBC9;
	padding: 40px;
	margin: 30px;
	box-shadow: 5px 5px #A38F58;
	border-radius: 5px;
	width: 270px;
	height: 270px;
	background-image: url("/images/blackberries.png");
	background-repeat: no-repeat;
}
